# Sample configuration: Please copy and rename this file to .env with updated the values for your environment
CLIENT_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
EMBED_ID=XXXXX
EMBED_ID2=XXXXX
EMBED_ID3=XXXXX
# Options: card, page, dashboard
EMBED_TYPE=dashboard
# Use XHR for embedding (true/false)
USE_XHR=false

# Optional settings for Domo Everywhere edit experience
IDP_URL=https://your-idp-url.domo.com
JWT_SECRET=your-jwt-secret
KEY_ATTRIBUTE=key-attribute-name
MAPPING_VALUE=your-mapping-value